﻿@model IEnumerable<int>

@if (Model != null && Model.Any())
{
    <h4>Notes:</h4>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <spam> @item.00 </spam>
            </li>
        }
    </ul>
}