﻿@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="GetNotes" asp-controller="Home"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#noteListResults">

    <div class="panel">
        <div class="row">
            <div class="col-md-2">
                <input type="number" class="form-control" name="requestedAmount" placeholder="Set the amount..." />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Give me my money!</button>
            </div>
        </div>
    </div>
    <hr />
</form>

<div id="noteListResults" class="row">
    @await Html.PartialAsync("_noteListResults")
</div>
